#!/bin/sh
use flake

if has ida64; then
	ida_dir=$(dirname "$(realpath "$(which ida64)")")
	ln -sfn "$ida_dir/python/3" .idapython
	ln -sfn "$ida_dir/python/examples" examples
	export PYTHONPATH="$ida_dir/python/3"
else
	log_error "Ida installation not found, completions won't work"
fi
